[package]
name = "hyper-openssl"
version = "0.7.0"
authors = ["Steven Fackler <sfackler@gmail.com>"]
description = "Hyper TLS support via OpenSSL"
license = "MIT/Apache-2.0"
repository = "https://github.com/sfackler/hyper-openssl"
readme = "README.md"
exclude = ["test/*"]

[features]
default = ["runtime"]

runtime = ["hyper/runtime"]

[dependencies]
antidote = "1.0.0"
bytes = "0.4"
hyper = { version = "0.12.14", default-features = false }
lazy_static = "1.0"
linked_hash_set = "0.1"
openssl = "0.10.19"
openssl-sys = "0.9.26"
tokio-io = "0.1.2"
tokio-openssl = "0.3"
futures = "0.1.14"

[dev-dependencies]
hyper = "0.12"
tokio = "0.1"
